<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hachi | Setting</title>
    <link rel="stylesheet" type="text/css" href="courses.css">
    <link rel="stylesheet" type="text/css" href="../../global.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js">
    </script>
</head>

<body>
    <nav id="sidebar">
        <ul class="list-unstyled">
            <li class="nav-block" id="topElement">
                <a href="../dashboard/dashboard.html">
                    <img src="../dashboard/dashboard_icons/home.svg" class="nav-icon">
                    <span class="tooltiptext">Dashboard</span>
                  </a>
            </li>
            <li class="nav-block">
                <a href="../tasks/tasks.html">
                  <img src="../dashboard/dashboard_icons/check-marks.svg" class="nav-icon dashboard">
                  <span class="tooltiptext">Upcoming projects!</span>
              </a>
            </li>
            <li class="nav-block nav-selected">
                <a href="../courses/courses.html">
                  <img src="../dashboard/dashboard_icons/book.svg" class="nav-icon">
                  <span class="tooltiptext">Estimate your grades!</span>
              </a>
            </li>
            <li class="nav-block">
                <a href="../groupChats/groupChats.html">
                  <img src="../dashboard/dashboard_icons/comment.svg" class="nav-icon">
                  <span class="tooltiptext">Talk with your classmate!</span>
              </a>
            </li>
            <li class="nav-block">
                <a href="../setting/setting.html"><img src="../dashboard/dashboard_icons/settings.svg" class="nav-icon"></a>
            </li>
        </ul>
    </nav>
    <div id="pageContent">
        <div class="page-title">
            <h1>Courses</h1>
        </div>
        <div id="courses-container">

        </div>
        <div id="add-course-container" class="card-styling">
            <img class="add-btn" src="add-24px.svg" alt="+">
            <!-- <form>
                <div>
                    <h2>Course Code: </h2><input type="text" id="course-code" />
                </div>
                <br>
                <div>
                    <h2>Course Title: </h2><input type="text" id="course-title" />
                </div>
                <br>
                <button id="add-course-btn">Add Course</button>
            </form> -->
            <!-- <button>add assessment</button> -->
        </div>
    </div>


    <script type="text/javascript" src="courses.js"></script>

</body>

</html>