* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

#pageContent {
    padding-left: 60px;
    padding-bottom: 100px;
    height: 100%;
}

.page-title {
    padding: 20px 0 20px 40px;
}

.edit-btn {
    font-family: 'Roboto', 'sans serif';
    font-size: x-large;
    width: 100px;
    margin-left: 50px;
    height: 40px;
    border: 5px solid rgba(255, 206, 28, 1);
}

.edit-btn:hover {
    background-color: rgba(255, 206, 28, 1);
}

#info-container {
    /* border: 1px solid black; */
    padding: 0 10% 0 10%;
}

#info-container div {
    margin-top: 5%;
    padding: 5%;
}

.display-inline {
    display: inline-block;
}

form {
    font-size: 1.875em;
}
#logout-section {
    text-align: center;
    
}
#logout-section a {
    text-decoration: none;
    
}
#logout-section {
    background-color: rgb(245, 216, 143);
}