<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bsootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../global.css">
    <link rel="stylesheet" href="tasks.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js">
    </script>
    <title>Hachi | Tasks</title>
</head>

<body>
    <div class="main-wrapper">
        <!-- Navbar Content -->
        <nav class="navbar-content">
            <ul class="list-unstyled">
              <li class="nav-block" id="topElement">
                <a href="../dashboard/dashboard.html">
                    <img src="../dashboard/dashboard_icons/home.svg" class="nav-icon">
                    <span class="tooltiptext">Dashboard</span>
                  </a>
            </li>
            <li class="nav-block nav-selected">
                <a href="../tasks/tasks.html">
                  <img src="../dashboard/dashboard_icons/check-marks.svg" class="nav-icon dashboard">
                  <span class="tooltiptext">Upcoming projects!</span>
              </a>
            </li>
            <li class="nav-block">
                <a href="../courses/courses.html">
                  <img src="../dashboard/dashboard_icons/book.svg" class="nav-icon">
                  <span class="tooltiptext">Estimate your grades!</span>
              </a>
            </li>
            <li class="nav-block">
                <a href="../groupChats/groupChats.html">
                  <img src="../dashboard/dashboard_icons/comment.svg" class="nav-icon">
                  <span class="tooltiptext">Talk with your classmate!</span>
              </a>
            </li>
            <li class="nav-block">
                <a href="../setting/setting.html"><img src="../dashboard/dashboard_icons/settings.svg" class="nav-icon"></a>
            </li>
            </ul>
        </nav>
        <!-- Page Content  -->
        <div class="page-content">
            <!-- Page Title -->
            <div class="page-title">
                <h1>Tasks</h1>
                <!-- <div id="search-container">
                <input class="form-control" id="search-input" type="text" placeholder="Search" aria-label="Search">
                <img id="search-btn" src="search-24px.svg" alt="search">
              </div> -->
            </div>
            <!-- Tasks -->
            <div class="tasks-content">
                <!-- <div class="card-styling box task-box">
              <div class="task-color-bar"></div>
              <div class="task-box-content">
                 <h2 class="task-name">BIO220: Infectious Disease Essay</h2>
                 <h5 class="due-date">Due: Feb. 28, 2020</h5>
                 <div>
                    <img class="edit-btn" src="edit-24px.svg" alt="edit">
                 </div>
              </div>
            </div> -->
                <!-- <div class="card-styling box task-box">
              <div class="task-color-bar"></div>
              <div class="task-box-content"> Test </div>
            </div>
            <div class="card-styling box task-box">
              <div class="task-color-bar"></div>
              <div class="task-box-content"> Test </div>
            </div>
            <div class="card-styling box task-box">
              <div class="task-color-bar"></div>
              <div class="task-box-content"> Test </div>
            </div> -->
                <div class="card-styling box" id="add-task-box">
                    <div class="task-color-bar"></div>
                    <div class="add-task-box-content">
                        <img src="add-24px.svg" alt="+">
                    </div>
                </div>
            </div>

        </div>
        <!-- <div class="overlay"></div>
        <div class="task-detail card-styling">
          <div><img id="close-btn" src="close-24px.svg" alt=""></div>
          <h1>BIO220: Infectious Disease Essay</h1>
          <h2>Due: Feb. 28, 2020</h2>
          <table>
            <tr>
              <th>Breakdown</th>
              <th>Start Time</th>
              <th>End Time</th>
            </tr>
            <tr>
              <td>brainstorm</td>
              <td>feb 23 3 2020</td>
              <td>feb 23 4 2020</td>
            </tr>
            <tr>
              <td>research</td>
              <td>feb 23 3 2020</td>
              <td>feb 23 4 2020</td>
            </tr>
            <tr>
              <td>research</td>
              <td>feb 23 3 2020</td>
              <td>feb 23 4 2020</td>
            </tr>
            <tr>
              <td>research</td>
              <td>feb 23 3 2020</td>
              <td>feb 23 4 2020</td>
            </tr>
          </table>
          
        </div> -->
        <!-- <div class="overlay"></div>
        <div class="add-task card-styling">
          <div id="close-btn-container"><img id="close-add-task-btn" src="close-24px.svg" alt=""></div>
          <h1>Breakdown</h1>
          <div id="add-task-inputs">
            <div>
              <h3>Course Code: </h3><input type="text">
            </div>
            <br>
            <div>
              <h3>Task Name: </h3><input type="text">
            </div>
            <br>
            <div>
              <h3>Due Date: </h3><input type="date" id="" >
            </div>
            <br>
            <div>
              <h3>Due Time: </h3><input type="time" id="" >
            </div>


            
            <div>
              <h3>Subtask Name: </h3><input type="text">
            </div>
            <br>
            <div>
              <h3>Start Time: </h3><input type="date" id="" ><input type="time">
            </div>
            <br>
            <div>
              <h3>End Time: </h3><input type="date" id="" ><input type="time">
            </div>
            <button id="add-more-subtask-btn">Add Next Subtask</button>
            
          </div>
          <div id="next-btn">
            <img src="arrow_right_alt-24px.svg" alt="">
          </div>         
        </div>
    </div> -->
        <script type="text/javascript" src="tasks.js"></script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>