body{
  background-image: url("../../images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  
}
body::after {
  content: "";
  background-color: white;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}


#pageContainer{
  position: relative;
  width: 40%;
  height: 70vh;
  left: 30%;
  top: 15vh;
  min-width: 500px;
  min-height: 680px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  align-items: center;
}

#tabBarContainer {
  position: absolute;
  width: 60%;
  height: 45px;
  left: 20%;
  top: 214px;
}
#login{
  position: absolute;
  width: 40%;
  height: 32px;
  left: 10%;
  top: 1px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;

  color: #000000;
}

#signup{
  position: absolute;
  width: 40%;
  height: 34px;
  right: 10%;
  top: 1px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;

  color: #000000;
}

svg{
  width: 100%;
}
#tabRect{
  position: absolute;
  width: 100%;
  height: 6px;
  x: 0px;
  y: 39px;

  fill: #F1F1F1;
}
#ChosenTab{
  position: absolute;
  width: 50%;
  height: 6px;
  x: 0%;
  y: 39px;

  fill: #FFCE1C;
}

#logoContainer{
  position: absolute;
  width: 70%;
  height: 163px;
  left: 15%;
  top: 51px;
  align-items: center;
}

#bee{
  position: absolute;
  left: 15%;
}

#HACHI{
  position: absolute;
  left: 45%;

  padding: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;

  color: #000000;
}
#Form{
  position: absolute;
  left: 20%;
  top:  292px;
  width:60%;
  bottom: 57px;
}

#LoginForm{
  display:block;
}

#SignupForm{
  display: none;
}

label{
  font-size: 1.2em;

  position: absolute;
  left:0px;
  margin-top: 10px;

}

input{
  width: 70%;
  height: 57px;
  border-radius: 10px;
  background: #F1F1F1;
  border-width: 0px;

  position: absolute;
  left: 128px;
}

.submit{
  background: #FFCE1C;
  width: 150px;
  height: 65px;

  position: absolute;
  bottom: 0px;
  left: 60%;
  font-size: 24px;
}

#errorNotice{
  border-radius: 3px;
  border-color: red;
  color: red;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: pink;
  font-weight: bold;
  text-align: center;
  display: none;
}
#signupSuccessfully{
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  text-align: center;
  min-height: 300px;
  display: none;
  background: #F1F1F1;

}
