/* body{
  background-image: url("../../images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
} */

#introduction{
  position: absolute;
  width: 70%;
  height: 112px;
  left: 15%;
  right: 15%;
  top: 120px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  text-align: center;

  color: #000000;
  float: initial;
}

#topBar{
  position: relative;
  width: 90%;
  height: 56px;
  left: 5%;
  top: 40px;
}

#HACHI{
  position: absolute;
  width: 174px;
  height: 56px;
  left: 70px;
  top: 5px;

  /* Web App Title */

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-feature-settings: 'cpsp' on;

  color: #000000;
}

button{
  position: relative;
  font-family: Roboto;
  font-size: 24px;
  top:14px;
  height:  28px;
  width: 82px;
  text-align: center;
  background-color: white;
  border: none;
  display: block;
  text-decoration: none;
  float: right;
  font-weight: 700;
}

#signup{
  background-color: #FFCE1C;
  border-radius: 10px;
}

#slideShowing{
  position: absolute;
  top: 290px;
  width: 60%;
  left:20%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: pink;
}

#slide{
  align-items: center;
  /* height: 400px; */
  max-height: 390px;
  width: 80%;
  margin: 10%;
  margin-top: 5%;
  margin-bottom: 0;
}

#description{
  display: block;
  bottom:400px;
  margin: 20px;
  line-height: 35px;
  font-size: 35px;
  text-align: center;
}

#bee{
  position: absolute;
  /* width: 132.5px; */
  height: 60px;
  /* left: 5px;
  top: 5px; */

  /* background: url(./images/bee.png); */
}
