/* body{
  background-image: url("../../images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
} */
body{
  background-color: rgb(249, 250, 204);
}
#introduction{
  position: absolute;
  width: 70%;
  height: 112px;
  left: 15%;
  right: 15%;
  top: 120px;
  margin: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 56px;
  display: flex;
  text-align: center;

  color: #000000;
  float: initial;
}
#introduction.p{
  margin: 0px;
  border: 0px;
  padding: 0px;
}

#topBar{
  position: relative;
  width: 90%;
  height: 56px;
  left: 5%;
  top: 30px;
}

#HACHI{
  position: absolute;


  /* Web App Title */

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  left: 100px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-feature-settings: 'cpsp' on;

  color: #000000;
}

button{
  position: absolute;
  font-family: Roboto;
  font-size: 23px;
  top:14px;
  height:  28px;
  width: 82px;
  background-color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  padding: 0px;
}
button:hover{
  background-color: #FFCE1C;
}
#login{
  right: 100px;
}
#signup{
  display: inline-block;
  width: 100px;
  right: 0px;
}

#slideShowing{
  position: absolute;
  top: 290px;
  width: 60%;
  left:20%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
}

#slide{
  align-items: center;
  /* height: 400px; */
  max-height: 390px;
  width: 80%;
  margin: 10%;
  margin-top: 5%;
  margin-bottom: 0;
}

#description{
  display: block;
  bottom:400px;
  margin: 20px;
  line-height: 35px;
  font-size: 35px;
  text-align: center;
}

#bee{
  position: absolute;
  /* width: 132.5px; */
  height: 60px;
  /* left: 5px;
  top: 5px; */

  /* background: url(./images/bee.png); */
}
