<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./admin.css">
    <link rel="stylesheet" href="../../global.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Hachi | Administrator</title>
</head>

<body>
    <!-- user list -->
    <table class="userList">
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>email</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Yun</td>
            <td>yun@mail.com</td>
            <td>
                <a href="">
                    <img src="../admin/image/pencil.png" class="icon">
                </a>
                <button class="del"><img src="../admin/image/delete2.png" class="icon"></button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Anna</td>
            <td>anna@mail.com</td>
            <td>
                <a href="">
                    <img src="../admin/image/pencil.png" class="icon">
                </a>
                <button class="del"><img src="../admin/image/delete2.png" class="icon"></button>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>saj </td>
            <td>saj@mail.com</td>
            <td>
                <a href="">
                    <img src="../admin/image/pencil.png" class="icon">
                </a>
                <button class="del"><img src="../admin/image/delete2.png" class="icon"></button>
            </td>
        </tr>
    </table>

    <!-- page selection -->
    <ul class="pageSelection">
        <li><a href="">&laquo;</a></li>
        <li><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">&raquo;</a></li>
    </ul>


</body>

</html>