/* main body */

body {
    background-color: white;
    margin: 0em;
}

#info {
    width: 250px;
    text-align: left;
}


/* banner and log out button */

#banner {
    border: 10px;
    width: 100%;
    height: 30px;
    margin-top: 0;
}

#banner a {
    border-radius: 30px !important;
    float: right;
}


/* edit modal */

label {
    width: 130px;
    text-align: right;
}

input {
    width: 250px;
}


/* edit delete and mute button */

#edit {
    color: blue;
}

#delete {
    color: red;
}

#courses {
    color: blue;
}

i {
    cursor: pointer;
}